  {% extends "base.html.twig" %}
  
  
  {% block body %}
    
    <h1>Mostrando datos de la base de datos user</h1>
    <ul>
        {% for user in usersTwig %}
            <li>
                user: {{user.alias}} con id {{user.id}}.
                <img src={{user.avatar}}/>
            </li>

        {% endfor %}
    </ul>
  
  
  
  
  
  {% endblock %}